version: '3.8'
services:
  api_gateway:
    build: ./api_gateway
    ports:
      - "8000:8000"
    env_file:
      - ./.env.development
    networks:
      - app-network
    depends_on:
      - service_users
      - service_orders

  service_users:
    build: ./service_users
    ports:
      - "8001:8000"
    env_file:
      - ./.env.development
    networks:
      - app-network

  service_orders:
    build: ./service_orders
    ports:
      - "8002:8000"
    env_file:
      - ./.env.development
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
